{% extends 'layout.html.twig' %}
{% block content %}
<div class="form-wrap">
    {{ form_start(offerForm, { 'attr' : { 'class': 'add-form' } }) }}
    {{ form_row(offerForm.offer) }}
    <div class="form-select-row">
        {{ form_row(offerForm.brand) }}
        {{ form_row(offerForm.manufacturer) }}
        {{ form_row(offerForm.model) }}
    </div>
    <button type="submit" class="btn">Dodaj ogłoszenie</button>
    {{ form_end(offerForm) }}
</div>
{% endblock %}