{% extends 'layout.html.twig' %}
{% block content %}
<div class="form-wrap">
    {{ form_start(offerForm) }}
    {{ form_row(offerForm.offer) }}
    {{ form_row(offerForm.brand) }}
    {{ form_row(offerForm.manufacturer) }}
    {{ form_row(offerForm.model) }}
    <button type="submit" class="btn">Dodaj ogłoszenie</button>
    {{ form_end(offerForm) }}
</div>
{% endblock %}