{% extends 'layout.html.twig' %}
{% block content %}
<div class="section">
    <div class="offer-detail">
        <h1>{{offer.offer.title}}</h1>
        <p><span class="offer-detail-price">{{offer.offer.price}} zł</span> - {{offer.offer.location}} - {{offer.offer.createdAgo}}</p>
        <div class="img-container">
            <img class="offer-detail-img" src="{{ asset('images/gpu.jpg') }}" alt="offer">
        </div>
        
        <p class="offer-detail-description">{{offer.offer.description | nl2br}}</p>
    </div>
</div>
{% endblock %}