{% extends 'layout.html.twig' %}

{% block content %}
   
    <section class="section">
   
    <div class="item-list">
    <select class="order select" id="order">
        <option value="createdAt_desc" {% if (orderSelected == 'createdAt_desc' or orderSelected == null) %} selected='selected' {% endif %}>Najnowsze</option>
        <option value="price_asc" {% if orderSelected == 'price_asc' %} selected='selected' {% endif %}>Cena: rosnąco</option>
        <option value="price_desc" {% if orderSelected == 'price_desc' %} selected='selected' {% endif %}>Cena: malejąco</option>
    </select>
    {% for offer in offers %}
        <article class="offer">
            <img class="offer-img" src="{{ asset('images/gpu.jpg') }}" alt="img">
            <div class="offer-stats">
                <div class="offer-header">
                    <h3 class="offer-title">{{offer.offer.title}}</h3>
                </div>
                <div class="offer-fill"> </div>
                <p class="offer-price">{{ offer.offer.price }} zł</p>
                <div class="offer-footer">
                    <p class="offer-location">{{ offer.offer.location }} - {{ offer.offer.createdAt | date('d:m:Y')}}</p>
                </div>
            </div>
        </article>
    {% endfor %}
        <div class="pagination">
            <p>
                {% if currentPage > 1 %}
                <a class="pagination-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage-1})) }}">{{ '<' }}</a>
                {% endif %}
                {{ ' ' }} {{ currentPage }} {{ ' z ' }} {{ lastPage }}
                {% if currentPage < lastPage %}
                <a class="pagination-link" href="{{ path(app.request.attributes.get('_route'),
                    app.request.query.all|merge({'page': currentPage+1})) }}">{{ '>' }}</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="filters">
        <form class="filters-form" method="get" id="filter">
            <h4 class="filter-title">Cena</h4>
            <div class="filters-range">
                <input class="filters-price" placeholder="od" name="price_from"/>
                <input class="filters-price" placeholder="do" name="price_to"/>
            </div>
            <hr></hr>
            <h4 class="filter-title">Producent</h4>
            <div>
                <div>
                    <input type="checkbox" name="manufacturer[]" value="nvidia">
                    <label>NVIDIA</label>
                </div>
                <div>
                    <input type="checkbox" name="manufacturer[]" value="amd">
                    <label>AMD</label>
                </div><div>
                    <input type="checkbox" name="manufacturer[]" value="intel">
                    <label>INTEL</label>
                </div>
            </div>
            <button class="btn btn-filter">Filtruj</button>
        </form>
    </div>
    </section>
     <script>
        //sorting
        const orderSelect = document.getElementById("order");
        const url = window.location.href;
        

        orderSelect.addEventListener("change", function(){
            let newUrl = new URL(url);
            newUrl.searchParams.set('orderby', orderSelect.value);
            newUrl.searchParams.set('page', '1');

            window.location = newUrl.toString();
        })

        //filtering
    /*
       const form = document.getElementById("filter");

       form.addEventListener("submit", function(event) {
            event.preventDefault();

            let newUrl = new URL(url);

            const data = new FormData(event.target);
            //console.log(data)
            for(const [name, value] of data)
            {
                if(value)
                {

                   newUrl.searchParams.set(name, value);
                }
            }
            window.location = newUrl.toString();
           
       });

*/
    </script>
{% endblock %}
