{% extends 'layout.html.twig' %}

{% block content %}
   
    <section class="section">
   
    <div class="item-list">
    <select class="order select" id="order">
        <option value="createdAt_desc" {% if (orderSelected == 'createdAt_desc' or orderSelected == null) %} selected='selected' {% endif %}>Najnowsze</option>
        <option value="price_asc" {% if orderSelected == 'price_asc' %} selected='selected' {% endif %}>Cena: rosnąco</option>
        <option value="price_desc" {% if orderSelected == 'price_desc' %} selected='selected' {% endif %}>Cena: malejąco</option>
    </select>
    {% for offer in offers %}
        <article class="offer" onclick="redirectToDetail({{offer.id}})">
            <img class="offer-img" src="{{ asset('uploads/' ~ offer.offer.img) }}" alt="img">
            <div class="offer-stats">
                <div class="offer-header">
                    <h3 class="offer-title">{{offer.offer.title}}</h3>
                </div>
                <div class="offer-fill"> </div>
                <p class="offer-price">{{ offer.offer.price }} zł</p>
                <div class="offer-footer">
                    <p class="offer-location">{{ offer.offer.location }} - {{ offer.offer.createdAgo }}</p>
                </div>
            </div>
        </article>
    {% endfor %}
        <div class="pagination">
            <p>
                {% if currentPage > 1 %}
                <a class="pagination-link" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage-1})) }}">{{ '<' }}</a>
                {% endif %}
                {{ ' ' }} {{ currentPage }} {{ ' z ' }} {{ lastPage }}
                {% if currentPage < lastPage %}
                <a class="pagination-link" href="{{ path(app.request.attributes.get('_route'),
                    app.request.query.all|merge({'page': currentPage+1})) }}">{{ '>' }}</a>
                {% endif %}
            </p>
        </div>
    </div>
    <div class="filters">
        <form class="filters-form" method="get" id="filter">
            <h4 class="filter-title">Cena</h4>
            <div class="filters-range">
                <input class="filters-price" name="price_from" value="{{ priceFrom == 0 ? ' ' : priceFrom}}"/> - 
                <input class="filters-price" name="price_to" value="{{ priceTo == 0 ? ' ' : priceTo }}"/>
            </div>
            <hr></hr>
            <h4 class="filter-title">Producent</h4>
            <div>
                {% for manufacturer in manufacturers %}
                <div>
                    <input type="checkbox" name="manufacturer[]" value="{{ manufacturer }}" {% if manufacturer in maufacturersSelected  %} checked {% endif %}>
                    <label>{{ manufacturer | upper }}</label>
                </div>
            {% endfor %}
            </div>
            <hr></hr>
            <h4 class="filter-title">Marka</h4>
            <div>
            {% for brand in brands %}
                <div>
                    <input type="checkbox" name="brand[]" value="{{ brand }}" {% if brand in brandSelected  %} checked {% endif %}>
                    <label>{{ brand | upper }}</label>
                </div>
            {% endfor %}
            </div>
            <hr></hr>
            <h4 class="filter-title">Model</h4>
            <div>
            {% for model in models %}
                <div>
                    <input type="checkbox" name="model[]" value="{{ model }}" {% if model in modelsSelected  %} checked {% endif %}>
                    <label>{{ model | upper }}</label>
                </div>
            {% endfor %}
            </div>
            <button class="btn btn-filter">Filtruj</button>
        </form>
    </div>
    </section>
     <script>
        //sorting
        const orderSelect = document.getElementById("order");
        const url = window.location.href;
        

        orderSelect.addEventListener("change", function(){
            let newUrl = new URL(url);
            newUrl.searchParams.set('orderby', orderSelect.value);
            newUrl.searchParams.set('page', '1');

            window.location = newUrl.toString();
        })

        function redirectToDetail(id)
        {
            window.location = url + '/' + id;
        }

    </script>
{% endblock %}
